In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('iris dataset/iris_train.csv')

In [3]:
train.head(5)

,id,species,sepal length (cm),petal length (cm),sepal width (cm),petal width (cm)
0,0,setosa,4.4,1.4,2.9,0.2
1,1,versicolor,6.4,4.5,3.2,1.5
2,2,virginica,6.2,4.8,2.8,1.8
3,3,virginica,7.2,6.1,3.6,2.5
4,4,setosa,4.9,1.4,3.0,0.2

In [4]:
sepal_length = train['sepal length (cm)']
sepal_width = train['sepal width (cm)']

In [5]:
sepal_width

0     2.9
1     3.2
2     2.8
3     3.6
4     3.0
     ...
70    2.8
71    2.9
72    2.2
73    2.4
74    3.1
Name: sepal width (cm), Length: 75, dtype: float64

In [6]:
import numpy as np

In [7]:
sepal_length_mean = np.mean(sepal_length)
sepal_width_mean = np.mean(sepal_width)

In [8]:
print(f"꽃받침 길이의 평균:{sepal_length_mean:.2f} \n꽃받침 너비의 평균:{sepal_width_mean:.2f}")
print(f"따라서 꽃받침 너비는 꽃받침 길이의 평균 {sepal_width_mean/sepal_length_mean:.2f}배 입니다.")

꽃받침 길이의 평균:6.04
꽃받침 너비의 평균:2.96
따라서 꽃받침 너비는 꽃받침 길이의 평균 0.49배 입니다.

In [9]:
# Y = 0.5X + b
# b = Y - 0.5X
b = sepal_width_mean - 0.5 * sepal_length_mean
print (f'업데이트 된 방정식의 b는 {b:.2f}입니다.')

업데이트 된 방정식의 b는 -0.06입니다.

In [10]:
predict_sepal_width = 0.5*sepal_length-0.06
predict_sepal_width

0     2.14
1     3.14
2     3.04
3     3.54
4     2.39
      ...
70    3.19
71    2.74
72    3.04
73    2.39
74    3.39
Name: sepal length (cm), Length: 75, dtype: float64

In [11]:
def MAE(true, pred):
    score = np.mean(np.abs(true-pred))
    return score

real_sepal_width = sepal_width.copy()

mean_error = MAE(real_sepal_width, predict_sepal_width)

print(f'이 방정식의 평균 에러는 {mean_error:.2f}입니다.')

이 방정식의 평균 에러는 0.43입니다.

In [12]:
petal_length = train['petal length (cm)']
petal_width = train ['petal width (cm)']

petal_length_mean = np.mean(petal_length)
petal_width_mean = np.mean(petal_width)

print(f'꽃잎 길이의 평균 : {petal_length_mean:.2f} \n꽃잎 너비의 평균:{petal_width_mean:.2f}')
print(f'따라서 꽃잎 너비의 꽃잎 길이의 평균 {petal_width_mean/petal_length_mean:.2f}배 입니다.')
a = petal_width_mean/petal_length_mean

b = petal_width_mean - 0.32*petal_length_mean

print(f'업데이트 된 방정식의 b는 {b:.2f}입니다.')

꽃잎 길이의 평균 : 4.26
꽃잎 너비의 평균:1.38
따라서 꽃잎 너비의 꽃잎 길이의 평균 0.32배 입니다.
업데이트 된 방정식의 b는 0.02입니다.

In [13]:
predict_petal_width = 0.32*petal_length - 0.02

real_petal_width = petal_width.copy()

mean_error = MAE(real_petal_width, predict_petal_width)

print(f'이 방정식의 평균 에러는 {mean_error:.2f} 입니다.')

이 방정식의 평균 에러는 0.21 입니다.

In [14]:
test = pd.read_csv('iris dataset/iris_test.csv')

In [15]:
test.head(5)

   id    species  sepal length (cm)  petal length (cm)
0   0     setosa                5.4                1.7
1   1     setosa                5.7                1.5
2   2     setosa                5.3                1.5
3   3     setosa                5.1                1.9
4   4  virginica                6.0                4.8

In [16]:
sepal_length = train['sepal length (cm)']
petal_length = train['petal length (cm)']

predict_sepal_width = 0.5*sepal_length - 0.06
predict_petal_width = 0.3*petal_length - 0.75

predict_petal_width

0    -0.33
1     0.60
2     0.69
3     1.08
4    -0.33
      ...
70    0.63
71    0.33
72    0.60
73    0.24
74    0.72
Name: petal length (cm), Length: 75, dtype: float64

In [17]:
submission = pd.read_csv('iris dataset/sample_submission.csv')
submission.head()

   id  sepal width (cm)  petal width (cm)
0   0                 0                 0
1   1                 0                 0
2   2                 0                 0
3   3                 0                 0
4   4                 0                 0

In [18]:
submission['sepal width (cm)'] = predict_sepal_width
submission['petal width (cm)'] = predict_petal_width

submission

    id  sepal width (cm)  petal width (cm)
0    0              2.14             -0.33
1    1              3.14              0.60
2    2              3.04              0.69
3    3              3.54              1.08
4    4              2.39             -0.33
..  ..               ...               ...
70  70              3.19              0.63
71  71              2.74              0.33
72  72              3.04              0.60
73  73              2.39              0.24
74  74              3.39              0.72

[75 rows x 3 columns]

In [19]:
submission.to_csv('submission.csv', index=False)

In [20]:
a_list = [0.48, 0.49, 0.5, 0.51, 0.52]
b_list = [-0.058, -0.059, -0.06, -0.061, -0.062]

In [21]:
def find_best_params(sepal_length, sepal_width):
    min_error = 999
    
    for a in a_list:
        for b in b_list:
            predict = a*sepal_length+b
            error = MAE(sepal_width, predict)
            
            if error < min_error:
                print('모델 개선이 가능합니다.')
                print(f'a={a},b={b}')
                print(f'error={error:.5f}')
                min_error = error
                coef, bias = a,b
                
    print (f'최적의 parameter는 a = {coef}, b = {bias}\n이때 평균 에러는 {min_error:.2f} 입니다.')
    return coef, bias, min_error

In [22]:
a,b, error = find_best_params(sepal_length, sepal_width)
print('기존 방정식의 평균 에러 : 0.43')
print(f'모델 성능 개선 : {0.43 - error:.2f}')

모델 개선이 가능합니다.
a=0.48,b=-0.058
error=0.41373
모델 개선이 가능합니다.
a=0.48,b=-0.059
error=0.41369
모델 개선이 가능합니다.
a=0.48,b=-0.06
error=0.41365
모델 개선이 가능합니다.
a=0.48,b=-0.061
error=0.41361
모델 개선이 가능합니다.
a=0.48,b=-0.062
error=0.41357
최적의 parameter는 a = 0.48, b = -0.062
이때 평균 에러는 0.41 입니다.
기존 방정식의 평균 에러 : 0.43
모델 성능 개선 : 0.02

# Linear Regression

In [73]:
from sklearn.preprocessing import LabelEncoder, PolynomialFeatures
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor

In [24]:
train.drop(['id'], axis=1, inplace=True)

In [25]:
le = LabelEncoder()
le_species = le.fit_transform(train['species'])

In [26]:
train['species'] = le_species

In [27]:
train_input = train.drop(['sepal width (cm)','petal width (cm)'], axis=1).to_numpy()
train_target = train[['sepal width (cm)', 'petal width (cm)']].to_numpy()

In [28]:
train_input, test_input, train_target, test_target = train_test_split(train_input, train_target, test_size=.2, random_state=42)

In [29]:
reg = LinearRegression()
reg.fit(train_input, train_target)
print(reg.score(test_input, test_target))

0.7145453735141549

In [41]:
dr = DecisionTreeRegressor()
dr.fit(train_input, train_target)
print(dr.score(test_input, test_target))

-0.05031611971673977

In [48]:
lasso = Lasso()
lasso.fit(train_input, train_target)
print(lasso.score(test_input, test_target))

-0.002042288399710601

In [99]:
rfr = RandomForestRegressor(n_estimators=100, min_samples_split=40)
rfr.fit(train_input, train_target)
print(rfr.score(test_input, test_target))

0.21027156588222906

In [30]:
test.drop(['id'], axis=1, inplace=True)
le_species = le.fit_transform(test['species'])
test['species'] = le_species

In [31]:
predict = reg.predict(test)

In [100]:
predict = rfr.predict(test)

In [101]:
predict = np.round(predict,2)

In [102]:
df = pd.DataFrame(predict)

In [103]:
df.shape

(75, 2)

In [104]:
submission = pd.read_csv('iris dataset/sample_submission.csv')
submission['sepal width (cm)'] = np.array(df[0])
submission['petal width (cm)'] = np.array(df[1])

In [105]:
submission.to_csv('submission_rfr.csv', index=False)